{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
{% endblock %}

{% block content %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
        <a class="navbar-brand" href="#"><img src="{% static 'img/logo2.png' %}" alt="My Website" width="60px" height="60px"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#home">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#fitur">Fitur & Benefit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#member">Info Member</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#download">Download</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tentang">Tentang</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Hubungi Kami</a>
            </li>
            
            </ul>
        </div>
        </div>
    </nav>
</header>

<!-- Hero Section -->
<section id="hero">

        <div class="container">

            <div class="row main-hero-content">

                    <div class="col-md-6">
                        <h1>MAKE YOUR LIFE PROFIT WITH US</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non architecto facere asperiores praesentium cumque voluptatum, quod labore quas quo rem quos deserunt earum ipsum inventore, doloremque maiores? Recusandae, mollitia quis!</p>
                        <div class="hero-buttons">
                            <a href="#" class="btn btn-outline-primary btn-white">buy now</a>
                            <a href="#" class="btn btn-outline-primary btn-white">try now</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="image-box">
                            <img src="{% static 'img/device.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>

            </div>

        </div>

</section>

<!-- Fitur Section -->
<section id="features">

        <div class="container">

            <div class="row section-title justify-content-center">
                <h2 class="section-title-heading">FITUR & BENEFIT</h2>
            </div>

            <div class="row mt-5">

                <div class="col-md-4">
                    <div class="feature-block">
                        <img src="{% static 'img/featureicon1.png' %}" alt="">
                        <h3 class="text-center">mobile friendly</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae illum asperiores deleniti. Facere, possimus 
                            architecto necessitatibus alias veritatis aperiam eius quibusdam vel ducimus fuga 
                            delectus, velit, temporibus consequatur voluptatibus a.</p>
                    </div>
                    <div class="feature-block mt-5">
                        <img src="{% static 'img/featureicon2.png' %}" alt="">
                        <h3 class="text-center">security</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae illum asperiores deleniti. Facere, possimus 
                            architecto necessitatibus alias veritatis aperiam eius quibusdam vel ducimus fuga 
                            delectus, velit, temporibus consequatur voluptatibus a.</p>
                    </div>
                </div>
                <div class="col-md-4 device">
                    <img src="{% static 'img/feature-device.png' %}" class="img-fluid" alt="">
                </div>
                <div class="col-md-4">
                    <div class="feature-block">
                        <img src="{% static 'img/featureicon3.png' %}" alt="">
                        <h3 class="text-center">24/7 support</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae illum asperiores deleniti. Facere, possimus 
                            architecto necessitatibus alias veritatis aperiam eius quibusdam vel ducimus fuga 
                            delectus, velit, temporibus consequatur voluptatibus a.</p>
                    </div>
                    <div class="feature-block mt-5">
                        <img src="{% static 'img/featureicon4.png' %}" alt="">
                        <h3 class="text-center">beautiful design</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae illum asperiores deleniti. Facere, possimus 
                            architecto necessitatibus alias veritatis aperiam eius quibusdam vel ducimus fuga 
                            delectus, velit, temporibus consequatur voluptatibus a.</p>
                    </div>
                </div>

            </div>


        </div>

</section>

<!-- Info Member Section -->
<section id="pricing">
    <div class="container">
        <div class="row section-title justify-content-center">
            <h2 class="seciton-title-heading">PRODUK KAMI</h2>
        </div>
        <div class="row justify-content-center">
                <div class="custom-tab">

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-home" role="tab" aria-controls="custom-nav-home" aria-selected="true">Home</a>
                            <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile" aria-selected="false">Profile</a>
                            <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab" href="#custom-nav-contact" role="tab" aria-controls="custom-nav-contact" aria-selected="false">Contact</a>
                        </div>
                    </nav>
                    <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip placeat salvia cillum iphone. Seitan alip s cardigan american apparel, butcher voluptate nisi .</p>
                        </div>
                        <div class="tab-pane fade" id="custom-nav-profile" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip placeat salvia cillum iphone. Seitan alip s cardigan american apparel, butcher voluptate nisi .</p>
                        </div>
                        <div class="tab-pane fade" id="custom-nav-contact" role="tabpanel" aria-labelledby="custom-nav-contact-tab">
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip placeat salvia cillum iphone. Seitan alip s cardigan american apparel, butcher voluptate nisi .</p>
                        </div>
                    </div>

                    </div>
        </div>

    </div>
    
</section>

{% endblock  %}